main {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 30px 60px;
    background-color: #f5f8fe;
}

.greetings {
    font-weight: 900;
    margin-bottom: 30px;
}

.notif-icon {
    transition: all .25s;
}

.notif-icon:hover {
    cursor: pointer;
    background-color: #c8c8c8 !important;
}